.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0e0e0e;
  padding: 1rem 2rem;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
  position: sticky;
  top: 0;
  z-index: 999;
  padding:0.5rem;
  
}

.home {
  color: #ffe600;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.5rem;
}

.nav-links a {
  color: #00ffff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.nav-links a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: -4px;
  background-color: #00ffff;
  transition: width 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}


/* Auth Buttons */
.auth-buttons {
  display: flex;
  gap: 1rem;
}

.auth-buttons a {
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}


